infra/n8n/workflows/api-topic-detail.json
{
  "id": "b8c9d0e1-f2a3-4567-bcde-188888888888",
  "name": "api-topic-detail",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "topic-detail",
        "options": {},
        "responseMode": "responseNode",
        "authentication": "headerAuth"
      },
      "id": "8b8c9d0e-1f2a-3456-7890-abcdef000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "c0000000-0000-0000-0000-000000000003",
      "credentials": {
        "httpHeaderAuth": {
          "id": "c03c03c0-3c03-c03c-03c0-3c03c03c03c0",
          "name": "news-api-secret"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, summary, key_entities, item_count, source_count, total_score,\n       is_hot, is_rising, first_seen_at, last_active_at\nFROM topics WHERE id = {{ $('Webhook').first().json.query.id }}::bigint;"
      },
      "id": "8b8c9d0e-1f2a-3456-7890-abcdef000002",
      "name": "Query Topic",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        450,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "c01c01c0-1c01-c01c-01c0-1c01c01c01c0",
          "name": "news-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT i.id, i.source, i.title, i.post_url, i.score, i.published_at\nFROM items i JOIN item_topics it ON it.item_id = i.id\nWHERE it.topic_id = {{ $('Webhook').first().json.query.id }}::bigint\nORDER BY i.published_at DESC LIMIT 100;"
      },
      "id": "8b8c9d0e-1f2a-3456-7890-abcdef000003",
      "name": "Query Items",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "alwaysOutputData": true,
      "position": [
        650,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "c01c01c0-1c01-c01c-01c0-1c01c01c01c0",
          "name": "news-postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { topic: $('Query Topic').first().json, items: $input.all().map(x => x.json).filter(x => x && x.id != null) } }}"
      },
      "id": "8b8c9d0e-1f2a-3456-7890-abcdef000004",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Query Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Topic": {
      "main": [
        [
          {
            "node": "Query Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Items": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "active": true
}
