infra/n8n/workflows/reddit-fetcher.json
{
  "id": "b2c3d4e5-f6a7-8901-bcde-f12222222222",
  "name": "reddit-fetcher",
  "nodes": [
    {
      "parameters": {},
      "id": "22222222-2222-2222-2222-222222222221",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const subs = ['LocalLLaMA','MachineLearning','singularity','OpenAI','ClaudeAI','StableDiffusion'];\nreturn subs.map(s => ({ json: { sub: s } }));"
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "List Subs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "=http://127.0.0.1:${WEB_PORT}/api/reddit/hot?sub={{ $json.sub }}&limit=25",
        "method": "GET",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222223",
      "name": "Fetch Sub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "const out = [];\n\n// Fetch Sub 调用本机 web 内部接口；接口返回 Reddit listing JSON。\nconst readListing = (json) => {\n  if (json?.data?.children) return json;\n  if (typeof json?.data === 'string') return JSON.parse(json.data);\n  if (typeof json?.body === 'string') return JSON.parse(json.body);\n  return null;\n};\n\nfor (const it of $input.all()) {\n  let listing;\n  try {\n    listing = readListing(it.json);\n  } catch (error) {\n    continue;\n  }\n\n  // 只处理 Reddit listing 结构；失败响应和空响应都跳过，不影响其它 subreddit。\n  const children = listing?.data?.children || [];\n  for (const child of children) {\n    const data = child?.data;\n    if (!data?.id || !data?.title) continue;\n\n    out.push({ json: {\n      source: 'reddit',\n      source_id: data.id,\n      title: data.title,\n      body: data.selftext || null,\n      post_url: `https://www.reddit.com${data.permalink || ''}`,\n      link_url: data.is_self ? null : data.url,\n      author: data.author || null,\n      sub_or_handle: data.subreddit ? 'r/' + data.subreddit : null,\n      score: data.ups || 0,\n      comment_count: data.num_comments || 0,\n      published_at: new Date((data.created_utc || 0) * 1000).toISOString(),\n      is_ai_relevant: true\n    }});\n  }\n}\nreturn out;"
      },
      "id": "22222222-2222-2222-2222-222222222224",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "List Subs", "type": "main", "index": 0 }]]
    },
    "List Subs": {
      "main": [[{ "node": "Fetch Sub", "type": "main", "index": 0 }]]
    },
    "Fetch Sub": {
      "main": [[{ "node": "Normalize", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "callerPolicy": "workflowsFromSameOwner" },
  "staticData": null,
  "tags": [],
  "active": true
}
